<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>App Gusto</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="./css/bootstrap.min.css">

    <style>
        .footer {
            background-color: #7FFFD4;
            color: black;
            padding: 20px 0;
            text-align: center;
            font-size: 21px;
        }
    </style>

</head>
<body>
<div class="container-fluid bg-primary">
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">App Gusto</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Dropdown
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner" style="background-color: #F5DEB3;"> <!-- Agregamos el color de fondo al contenedor del carrusel -->
            <div class="carousel-item active text-center">
                <img src="./img/logo.jpg" alt="Imagen reducida a la mitad" style="width: 30%; height: auto; display: block; margin: auto;">
                <h1>Administración</h1>
            </div>
        </div>
        <!-- Botón 1 -->
        <button type="button">
            <img src="" alt="Añadir Restaurante">
        </button>

        <!-- Botón 2 -->
        <button type="button">
            <img src="" alt="Eliminar/ Restaurante">
        </button>
    </div>
<!-- Pie de página -->
<footer class="footer">
    <div class="container">
        <p> Created by Alpinitos Company</p>
    </div>
</footer>

</body>
</html>