<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Agregar Restaurante</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
        body {
            background-color: #F9EBEA ;
        }

        .container {
            background-color: #F6002F;
            padding-bottom: 20px;
        }

        .carousel-inner {
            background-color: white;
        }
        .footer {
            background-color: #F6002F;
            color: white;

            padding: 20px 0;

            text-align: center;
            font-size: 20px;
        }
        form {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .form-group {
            display: flex;
            align-items: center;
            margin-bottom: 50px;
        }

        .form-group label {
            min-width: 150px;
            margin-right: 10px;
            text-align: right;
        }

        input[type="text"],
        input[type="email"] {
            width: 250px;
        }

        label, input {
            margin-bottom: 10px;
        }

        input[type="text"] {
            width: 200px;
        }

        input[type="submit"] {
            width: 100px;
        }
        h2 {
            text-align: center;
        }
        .btn-orange {
            background-color: orange;
            color: black;
        }
        input[type="email"] {
            width: 400px;
        }
        .form-group {
            display: flex;
            align-items: center;
            margin-bottom: 15px;
        }
    </style>

</head>
<body>
<div class="container-fluid" style="background-color: #F6002F; margin-bottom: 20px;"> <!-- Se añade margin-bottom para generar espacio entre el navbar y el carrusel -->
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
            <a class="navbar-brand" href="#" style="color: white;">App Gusto</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="administrador.html" style="color: white;">Inicio</a>                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>

<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner" style="background-color: white;"> <!-- Agregamos el color de fondo al contenedor del carrusel -->
        <div class="carousel-item active text-center">
            <div class="centered-image">
                <a href="https://ibb.co/FsyQsWR">
                    <img src="https://i.ibb.co/mv2nvBf/chef.jpg" alt="chef" border="0" style="width: 300px; height: 450px;">
                </a>
            </div>
            <h1>¡¡¡Registra Tu Restaurante!!!</h1>
            <p>Tu crecimiento es importante para nosotros tu AppGusto. Incrementa tus ventas con todos los recursos que tenemos para tu restaurante.</p>
            <p><strong>¡Vender por AppGusto es de lo mejor!</strong></p>
        </div>
    </div>
    <!-- Forma -->
    <div class="container-fluid" style="background-color: #FADBD8; padding: 15px;">
        <div class="text-center">
            <h1 class="mt-5" style="color: #6C3483;">Crea tu Restaurante</h1>
            <div class="box mt-5">
                <form method="post"
                      class="form-group"
                      th:action="@{/administrador/agregarRestaurante}"
                      th:object="${restaurante}">

                    <div class="form-group mb-3">
                        <label class="form-label">Nombre</label>
                        <input
                                class="form-control"
                                id="nombre de la marca"
                                name="nombreMarca"
                                placeholder="Pon un Username"
                                th:field="*{nombreMarca}"
                                type="text"
                        />
                        <p th:errors = "*{nombreMarca}" class="text-danger"
                           th:if="${#fields.hasErrors('nombreMarca')}"></p>
                    </div>
                    <div class="form-group mb-3">
                        <label class="form-label">Nombre Legal</label>
                        <input
                                class="form-control"
                                id="nombre legal"
                                name="nombreMarca"
                                placeholder="Pon un Username"
                                th:field="*{nombreLegal}"
                                type="text"
                        />
                        <p th:errors = "*{nombreLegal}" class="text-danger"
                           th:if="${#fields.hasErrors('nombreLegal')}"></p>
                    </div>
                    <div class="form-group mb-3">
                        <label class="form-label">Dirección</label>
                        <input
                                class="form-control"
                                id="direccion"
                                name="direccion"
                                placeholder="Pon un Username"
                                th:field="*{direccion}"
                                type="text"
                        />
                        <p th:errors = "*{direccion}" class="text-danger"
                           th:if="${#fields.hasErrors('direccion')}"></p>
                    </div>
                    <div class="form-group mb-3">
                        <label class="form-label">Categoría de Restaurante</label>
                        <select class="form-control" id="Categoria" name="nombreMarca" th:field="*{categoria}">
                            <option value="" disabled selected>Selecciona una categoría</option>
                            <option value="mexicano">Mexicano</option>
                            <option value="frances">Francés</option>
                            <option value="típico">Típico</option>
                            <option value="otro">Otro</option>
                        </select>
                        <p th:errors="*{categoria}" class="text-danger" th:if="${#fields.hasErrors('categoria')}"></p>
                    </div>
                    <div class="form-group mb-3">
                        <label class="form-label">NIT</label>
                        <input
                                class="form-control"
                                id="nit"
                                name="nit"
                                placeholder="Pon un Username"
                                th:field="*{documentos}"
                                type="text"
                        />
                        <p th:errors = "*{documentos}" class="text-danger"
                           th:if="${#fields.hasErrors('documentos')}"></p>
                    </div>

                    <input type="hidden" name="token" id ="inputToken">
                    <input type="hidden" name="username" id ="username" th:value="${username}">

                    <input class="btn btn-primary mt-4" type="submit" value="Crear">
                </form>
            </div>
        </div>
    </div>
    <!-- Imagen centrada -->
    <div class="text-center mt-4">
        <a href="https://ibb.co/BP6krZQ"><img src="https://i.ibb.co/BP6krZQ/logo.jpg" alt="logo" border="0" width= "100px" height= "100px"></a>
    </div>
    <div class="my-4"></div>
</div>
<!-- Pie de página -->
<footer class="footer">
    <div class="container">
        <p> Created by Alpinitos Company</p>
    </div>
</footer>
</body>
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        // No es necesario obtener el token aquí, se hará cuando se haga clic en el botón.
        // var tokenActual = obtenerToken();

        // Asignar el evento al botón "Crear"
        var btnCrear = document.querySelector('.btn.btn-primary');
        if (btnCrear) {
            btnCrear.addEventListener('click', function() {
                var tokenActual = obtenerToken();
                document.getElementById('inputToken').value = tokenActual;
            });
        }
    });

    function obtenerToken() {
        var cookies = document.cookie.split(';');
        var nombreCookieToken = "authToken";
        console.log(cookies);
        console.log(cookies.length);
        console.log(document.cookie)
        for (var i = 0; i <= cookies.length; i++) {
            var cookie = cookies[i].trim();
            console.log("pasoooooooooo");
            console.log(cookie);
            if (cookie.indexOf(nombreCookieToken) === 0) {
                return cookie.substring(nombreCookieToken.length);
            }
        }
        return "0";
    }

</script>

</html>
