<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>AppGusto</title>


    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body style="background-image: url('https://img.freepik.com/foto-gratis/autentica-pasta-italiana_24972-2334.jpg?w=1380&t=st=1700584297~exp=1700584897~hmac=c473bd635de0201ac9b20d6d3d8f272461075923d8ae8d1046067ac0853f3964'); height: 900px; background-size: cover; background-repeat: no-repeat; background-color: #FFEDDE; background-position: center;">
<div class="container rounded mx-auto my-5 p-4 d-flex align-items-center justify-content-center" style="background-color: rgba(255, 245, 236, 0.8); height: 80%; width: 90%;">
    <div class="text-center">
        <h1 class="mt-5">Crear una cuenta</h1>
        <div class="box mt-5">
            <form action="/" class="form-group" method="post">
                <label for="id">Correo Electrónico:</label><br>
                <input class="form-control" type="text" id="id" name="id" required><br>
                <label for="fname">Nombre de Usuario:</label><br>
                <input class="form-control" type="text" id="fname" name="fname" required><br>
                <label for="lname">Contraseña:</label><br>
                <input class="form-control" type="text" id="lname" name="lname" required>
                <label for="role">Role:</label><br>
                <input class="form-control" type="text" id="role" name="role">
                <input class="btn btn-light mt-5" type="submit" value="Crear">
            </form>
        </div>
    </div>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

</html>