<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>AppGusto</title>


    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body style="background-image: url('https://img.freepik.com/foto-gratis/autentica-pasta-italiana_24972-2334.jpg?w=1380&t=st=1700584297~exp=1700584897~hmac=c473bd635de0201ac9b20d6d3d8f272461075923d8ae8d1046067ac0853f3964'); height: 900px; background-size: cover; background-repeat: no-repeat; background-color: #FFEDDE; background-position: center;">
<div class="container rounded mx-auto my-5 p-4 d-flex align-items-center justify-content-center">
    <div class="card" style="background-color: rgba(255, 245, 236, 0.8)">
        <div class="card-header">
            <h2 class="text-center">Registration</h2>
        </div>
        <div th:if="${param.success}">
            <div class="alert alert-info">
                You have successfully registered our app!
            </div>
        </div>
        <div class="card-body">
            <form
                    method="post"
                    role="form"
                    th:action="@{/register/save}"
                    th:object="${user}"
            >
                <div class="form-group mb-3">
                    <label class="form-label">First Name</label>
                    <input
                            class="form-control"
                            id="firstName"
                            name="firstName"
                            placeholder="Enter first name"
                            th:field="*{firstName}"
                            type="text"
                    />
                    <p th:errors = "*{firstName}" class="text-danger"
                       th:if="${#fields.hasErrors('firstName')}"></p>
                </div>

                <div class="form-group mb-3">
                    <label class="form-label">Last Name</label>
                    <input
                            class="form-control"
                            id="lastName"
                            name="lastName"
                            placeholder="Enter last name"
                            th:field="*{lastName}"
                            type="text"
                    />
                    <p th:errors = "*{lastName}" class="text-danger"
                       th:if="${#fields.hasErrors('lastName')}"></p>
                </div>

                <div class="form-group mb-3">
                    <label class="form-label">Email</label>
                    <input
                            class="form-control"
                            id="email"
                            name="email"
                            placeholder="Enter email address"
                            th:field="*{email}"
                            type="email"
                    />
                    <p th:errors = "*{email}" class="text-danger"
                       th:if="${#fields.hasErrors('email')}"></p>
                </div>

                <div class="form-group mb-3">
                    <label class="form-label">Password</label>
                    <input
                            class="form-control"
                            id="password"
                            name="password"
                            placeholder="Enter password"
                            th:field="*{password}"
                            type="password"
                    />
                    <p th:errors = "*{password}" class="text-danger"
                       th:if="${#fields.hasErrors('password')}"></p>
                </div>
                <div class="form-group mb-3">
                    <label for="tipoUsuario">Tipo de Usuario:</label>
                    <select id="tipoUsuario" name="tipoUsuario">
                        <option value="administrador">Administrador</option>
                        <option value="comensal">Comensal</option>
                    </select>
                </div>
                <div class="form-group">
                    <button class="btn btn-primary" type="submit">Register</button>
                    <span>Already registered? <a th:href="@{/login}">Login here</a></span>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

</html>