<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Restaurantes</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body style="background-color: #FFEDDE;">
<p class="h2 text-center mt-5">Restaurantes</p>
<div class="d-flex align-items-center justify-content-start mt-5 ml-4">
    <div class="container">
        <div class="row">
            <a class="btn col-sm d-flex align-items-center">
                <img class="rounded-circle" style="width:69px; height: 63px; object-fit: cover;" src="https://www.eltiempo.com/files/image_1200_680/uploads/2022/11/11/636ec9b036dfd.png" alt="image">
                <p class="font-weight-light text-sm-left mb-0 ml-3">Restaurant 4</p>
            </a>
        </div>
    </div>
</div>
<nav class="navbar fixed-bottom navbar-expand-lg navbar-light mb-5 mx-auto rounded-pill" style="background-color: #FFF5EC; width: 343px;">
    <div class="container justify-content-center" style="width: 100%;">
        <div class="row justify-content-between" style="width: 100%;">
            <p class="font-weight-light text-sm-left mb-0 ml-3">¿Cercanos a la Universidad?</p>
            <div class="form-check form-switch">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                <label class="form-check-label" for="flexRadioDefault1"></label>
            </div>
        </div>
    </div>
</nav>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>